{% extends 'base.html' %}
{% block about_content %}
<h2>About</h2>
<p>
    <span className="paragraph-start">A</span>s a dedicated Full-Stack Web
    Developer, I possess a strong foundation in both front-end and
    back-end technologies, enabling me to build dynamic, user-friendly web
    applications. My expertise includes working with modern frameworks
    such as React and Flask, as well as a deep understanding of
    JavaScript, Python, PosgreSQL, and SQL databases. I am passionate
    about crafting clean, efficient code and developing innovative
    solutions that meet user needs and business objectives. With a keen
    eye for design and a commitment to best practices, I ensure that every
    project I undertake is not only functional but also visually appealing
    and responsive.
</p>
<p>
    <span className="paragraph-start">I</span>n addition to my technical
    skills, I am driven by a genuine passion for continuous learning and
    professional growth. I actively keep myself updated with the latest
    trends in web development, embracing new challenges and technologies
    as opportunities to expand my expertise. My journey as a developer is
    fueled by a strong desire to contribute to meaningful projects,
    particularly those that have a positive impact on communities and
    businesses. Whether collaborating with a team or working
    independently, I thrive in environments that encourage creativity,
    problem-solving, and the pursuit of excellence.
</p>
{% endblock %}