{% extends "base.html" %}
{% block contact_content %}
<h1>Contact</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nisi ab, quasi minima perspiciatis aliquid sapiente minus fugit, a
    officia quae nulla est sunt! Deleniti esse vero, repellat rerum eaque aspernatur dolore! Qui ratione voluptas sapiente eius expedita
    tenetur voluptate delectus nisi, est quas odit eveniet labore voluptates voluptatem temporibus mollitia, maiores atque iste beatae
    ipsam! Deserunt porro, aperiam ducimus quia voluptatem eaque neque ex quae dicta mollitia molestiae atque minus eum pariatur facilis
    illo laborum! Deserunt labore ab facere exercitationem quo quia dolorum consequuntur veniam illum reprehenderit! Perspiciatis earum
    ducimus harum deserunt, aliquam sit et dignissimos blanditiis magni libero!</p>
{% endblock %}